@font-face {
  font-family: "iconfont"; /* Project id 2440352 */
  src: url('iconfont.woff2?t=1672300998798') format('woff2'),
       url('iconfont.woff?t=1672300998798') format('woff'),
       url('iconfont.ttf?t=1672300998798') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mastodon:before {
  content: "\ec07";
}

.icon-stack-overflow:before {
  content: "\ecdd";
}

.icon-info1:before {
  content: "\e6e8";
}

.icon-warning:before {
  content: "\e6be";
}

.icon-solution-tips:before {
  content: "\e608";
}

.icon-linkedin:before {
  content: "\e60b";
}

.icon-loading1:before {
  content: "\e623";
}

.icon-hashtag:before {
  content: "\e684";
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-code:before {
  content: "\ef79";
}

.icon-file-code:before {
  content: "\e68e";
}

.icon-check:before {
  content: "\e604";
}

.icon-copy:before {
  content: "\f289";
}

.icon-buywebhostingstep1domain:before {
  content: "\e69a";
}

.icon-adjust1:before {
  content: "\e607";
}

.icon-yuan_fuzhi:before {
  content: "\e716";
}

.icon-eye:before {
  content: "\e6ed";
}

.icon-clock:before {
  content: "\e606";
}

.icon-Monthdatecalendar:before {
  content: "\e9de";
}

.icon-rss:before {
  content: "\e62b";
}

.icon-tag:before {
  content: "\e863";
}

.icon-angle-up:before {
  content: "\e602";
}

.icon-archive:before {
  content: "\e62d";
}

.icon-folder:before {
  content: "\e645";
}

.icon-angle-right:before {
  content: "\e694";
}

.icon-mail:before {
  content: "\e60d";
}

.icon-bars:before {
  content: "\e649";
}

.icon-FolderOpen-1:before {
  content: "\e67f";
}

.icon-info:before {
  content: "\eb2a";
}

.icon-github:before {
  content: "\e741";
}

.icon-spinner:before {
  content: "\e805";
}

.icon-iccheckcircle:before {
  content: "\e605";
}

.icon-home:before {
  content: "\e621";
}

.icon-angle-down:before {
  content: "\ef19";
}

.icon-angle-left:before {
  content: "\ef1a";
}

.icon-stream:before {
  content: "\f0e0";
}

.icon-search:before {
  content: "\e72f";
}

.icon-thumb-tack:before {
  content: "\e923";
}

.icon-link:before {
  content: "\e603";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-QQ:before {
  content: "\e60f";
}

.icon-weibo:before {
  content: "\e601";
}

.icon-facebook:before {
  content: "\e641";
}

.icon-twitter:before {
  content: "\ea07";
}

.icon-13:before {
  content: "\e613";
}

.icon-qzone:before {
  content: "\e600";
}

